{% extends 'base.html' %}

{% block title %} Parable {% endblock %}
{% block content %}
<div class="container" style="display: flex; flex-direction: column; align-items: center;">
    <form id="story-builder" method="post" action="{{ url_for('story') }}">
        <label for="story-selector">Select a Story</label>
        <select id="story-selector" name="story_selection">
            <option value="Tortoise and the Hare">Tortoise and the Hare</option>
        </select>
        </br></br>
        <label for="difficulty-level">Select a Reading Level</label>
        <select id="difficulty-level" name="difficulty_level">
        </select>
        </br></br>
        <label for="main-characters">Describe the Main Character(s)</label>
        <input id="main-characters" name="character_description">
        </br></br>
        <button type="submit" class="button">Generate Story</button>
    </form>
</div>
{% endblock %}
